{% extends 'main/base_main.html' %}


{% block navbar %}
{% for item in materials %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'company_product_material_url' company=company.slug product=product.slug material=item.slug %}">{{ item.name }}</a>
    </li>
{% endfor %}


<!-- {% for item in category %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'company_product_material_url' company=company.slug product=product.slug material=item.slug %}">{{ item.name }}</a>
    </li>
{% endfor %} -->
    
    
{% endblock navbar %}
    

{% block content %}

{% for sample in samples %}
{% include 'main/includes/sample_card_template.html' %}
{% endfor %}

{% endblock content %}
